<section class="section-about" id="about">
  <div class="container">
    <div class="about-wrapper">
      <div class="about-image">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./img/about/photo03.webp 1x, ./img/about/photo03@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="./img/about/photo02.webp 1x, ./img/about/photo02@2x.webp 2x"
          />
          <source
            type="image/webp"
            srcset="./img/about/photo01.webp 1x, ./img/about/photo01@2x.webp 2x"
          />
          <img
            src="./img/about/photo01.webp"
            alt="Jeweler crafting a handmade ring"
            class="about-img"
            width="335"
            height="335"
          />
        </picture>
      </div>
      <div class="about-container">
        <div class="about-content">
          <h2 class="about-title">
            The Artistry Behind<span class="desktop-break"><br /></span
            >&nbsp;Handmade Jewelry
          </h2>
          <p class="about-description">
            Handmade Jewelry began as a passion project, inspired by the beauty
            of nature and the desire to create meaningful pieces. Each item is
            crafted with love, reflecting our commitment to sustainability and
            the unique story of its maker.
          </p>
          <ul class="about-values">
            <li class="about-value">
              <svg class="about-icon" width="24" height="24" aria-hidden="true">
                <use href="./img/about/icons.svg#icon-icon"></use>
              </svg>
              <span>Inspired by Nature</span>
            </li>
            <li class="about-value">
              <svg class="about-icon" width="24" height="24" aria-hidden="true">
                <use href="./img/about/icons.svg#icon-icon-1"></use>
              </svg>
              <span>Handcrafted with Love</span>
            </li>
            <li class="about-value">
              <svg class="about-icon" width="24" height="24" aria-hidden="true">
                <use href="./img/about/icons.svg#icon-icon-2"></use>
              </svg>
              <span>Every Piece Tells a Story</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
