<section class="section about">
  <div class="container">
      <div class="about-wrapper">
        <div class="about-image">
          <picture>
            <source
            media="(min-width: 1280px)"
            srcset="./img/about/Placeholder Lightbox Desktop.png 1x,
                    ./img/about/Placeholder Lightbox Desktop@2x.png 2x"
            />
            <source
            media="(min-width: 768px)"
            srcset="./img/about/Placeholder Lightbox Tablet.png 1x,
                    ./img/about/Placeholder Lightbox Tablet@2x.png 2x"
            />
            <img
            src="./img/about/Placeholder Lightbox.png"
            srcset="./img/about/Placeholder Lightbox.png 1x,
                    ./img/about/Placeholder Lightbox@2x.png 2x"
            alt="Jeweler crafting a handmade ring"
            class="about-img"
            />
                </picture>
        </div>
        <div class="container">
          <div class="about-content">
            <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>
            <p class="about-description">
              Handmade Jewelry began as a passion project, inspired by the beauty
              of nature and the desire to create meaningful pieces. Each item is
              crafted with love, reflecting our commitment to sustainability and
              the unique story of its maker.
            </p>
            <ul class="about-values">
              <li class="about-value">
                <svg class="about-icon" width="24" height="24" aria-hidden="true">
                  <use href="./img/about/icons.svg#icon-icon"></use>
                </svg>
                <span>Inspired by Nature</span>
              </li>
              <li class="about-value">
                <svg class="about-icon" width="24" height="24" aria-hidden="true">
                  <use href="./img/about/icons.svg#icon-icon-1"></use>
                </svg>
                <span>Handcrafted with Love</span>
              </li>
              <li class="about-value">
                <svg class="about-icon" width="24" height="24" aria-hidden="true">
                  <use href="./img/about/icons.svg#icon-icon-2"></use>
                </svg>
                <span>Every Piece Tells a Story</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</section>