<section class="gallery" id="gallery">
  <div class="container">
    <div class="gallery-info">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-text">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>

    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source media="(min-width: 1440px)" srcset="../img/showcase/image_8dt.webp 1x, ../img/showcase/image_8dt2x.webp 2x" type="image/webp">
          <source srcset="../img/showcase/image_8mb.webp 1x, ../img/showcase/image_8mb2x.webp 2x" type="image/webp">
          <img src="../img/showcase/image_8mb.webp" alt="Amethyst bracelet" width="311" loading="lazy">
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source media="(min-width: 1440px)" srcset="../img/showcase/image_7dt.webp 1x, ../img/showcase/image_7dt2x.webp 2x" type="image/webp">
          <source srcset="../img/showcase/image_7mb.webp 1x, ../img/showcase/image_7mb2x.webp 2x" type="image/webp">
          <img src="../img/showcase/image_7mb.webp" alt="Beaded necklace" width="311" loading="lazy">
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source media="(min-width: 1440px)" srcset="../img/showcase/image_6dt.webp 1x, ../img/showcase/image_6dt2x.webp 2x" type="image/webp">
          <source srcset="../img/showcase/image_6mb.webp 1x, ../img/showcase/image_6mb2x.webp 2x" type="image/webp">
          <img src="../img/showcase/image_6mb.webp" alt="Amber pendant" width="311" loading="lazy">
        </picture>
      </li>

      <li class="gallery-item">
        <picture>
          <source media="(min-width: 1440px)" srcset="../img/showcase/image_5dt.webp 1x, ../img/showcase/image_5dt2x.webp 2x" type="image/webp">
          <source srcset="../img/showcase/image_5mb.webp 1x, ../img/showcase/image_5mb2x.webp 2x" type="image/webp">
          <img src="../img/showcase/image_5mb.webp" alt="Flower earrings" width="311" loading="lazy">
        </picture>
      </li>
    </ul>
  </div>
</section>