<section class="gallery" id="gallery">
  <div class="container">
    <div class="gallery-info">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-text">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>

    <ul class="gallery-list">
      <li class="gallery-item main-item">
        <picture>
          <source srcset="./img/gallery/image_8.png 1x, ./img/gallery/image_8.png 2x" media="(min-width: 1440px)">
          <source srcset="./img/gallery/image_8.png 1x, ./img/gallery/image_8.png 2x" media="(min-width: 768px)">
          <img src="./img/gallery/image_8.png" alt="Amethyst bracelet" width="311" loading="lazy">
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source srcset="./img/gallery/image_7.png 1x, ./img/gallery/image_7.png 2x" media="(min-width: 1440px)">
          <source srcset="./img/gallery/image_7.png 1x, ./img/gallery/image_7.png 2x" media="(min-width: 768px)">
          <img src="./img/gallery/image_7.png" alt="Beaded necklace" width="311" loading="lazy">
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source srcset="./img/gallery/image_6.png 1x, ./img/gallery/image_6.png 2x" media="(min-width: 1440px)">
          <source srcset="./img/gallery/image_6.png 1x, ./img/gallery/image_6.png 2x" media="(min-width: 768px)">
          <img src="./img/gallery/image_6.png" alt="Amber pendant" width="311" loading="lazy">
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source srcset="./img/gallery/image_5.png 1x, ./img/gallery/image_5.png 2x" media="(min-width: 1440px)">
          <source srcset="./img/gallery/image_5.png 1x, ./img/gallery/image_5.png 2x" media="(min-width: 768px)">
          <img src="./img/gallery/image_5.png" alt="Flower earrings" width="311" loading="lazy">
        </picture>
      </li>
    </ul>
  </div>
</section>