<section class="testimonials" id="testimonials">
  <div class="container testimonials-container">
    <h2 class="testimonials-title">Customer testimonials</h2>
    <p class="testimonials-text">
      Absolutely love my new earrings! They are stunning.
    </p>
    <ul class="testimonials-list">
      <div class="row1">
        <li class="testimonials-item">
          <img
            class="img-card"
            src="/img/testimonials/first-1x.webp"
            alt="Customer testimonial"
            srcset="
              /img/testimonials/first-1x.webp 1x,
              /img/testimonials/first-2x.webp 2x
            "
          />
        </li>
        <li class="testimonials-item">
          <img
            class="img-card"
            src="/img/testimonials/2nd-1x.webp"
            alt="Customer testimonial"
            srcset="
              /img/testimonials/2nd-1x.webp 1x,
              /img/testimonials/2nd-2x.webp 2x
            "
          />
        </li>
        <li class="testimonials-card">
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-outline"></use>
          </svg>
          <p class="testimonials-card-text">
            "Each piece tells a story, and I love mine!"
          </p>
          <h3 class="testimonials-card-title">Thomas Mans</h3>
        </li>
      </div>
      <div class="row2">
        <li class="testimonials-card">
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
          </svg>
          <p class="testimonials-card-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <h3 class="testimonials-card-title">Jane Edison</h3>
        </li>
        <li class="testimonials-item">
          <img
            class="img-card"
            src="/img/testimonials/3rd-1x.webp"
            alt="Customer testimonial"
            srcset="
              /img/testimonials/3rd-1x.webp 1x,
              /img/testimonials/3rd-2x.webp 2x
            "
          />
        </li>
        <li class="testimonials-item">
          <img
            class="img-card"
            src="/img/testimonials/4th-1x.webp"
            alt="Customer testimonial"
            srcset="
              /img/testimonials/4th-1x.webp 1x,
              /img/testimonials/4th-2x.webp 2x
            "
          />
        </li>
      </div>
    </ul>
  </div>
</section>
