<div class="mobile-menu">
  <div class="mob-nav-menu">
    <div class="mob-menu-header">
      <a href="#logo" class="header__logo-link">
        <img
          src="/img/header/companylogo.svg"
          alt="logo handmade jewelry"
          class="header__logo-icon mob"
          width="149"
          height="46"
      /></a>
      <button class="mobmenu-close-btn" type="button">
        <svg class="mobmenu-close-icon" width="24" height="24">
          <use href="/img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mob-nav">
      <ul class="mob-nav-list">
        <li><a href="#about">About us</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <a href="#contacts" class="btn hero-btn">Order Now </a>
  </div>
</div>
