<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-left">
        <a href="./">
          <img
            src="/img/header/companylogo.svg"
            alt="Handmade jewelry"
            class="footer-logo"
            width="342"
            height="147"
        /></a>
        <!-- Socials -->

        <div class="socials-section">
          <ul class="footer-social">
            <li>
              <a
                href="https://www.instagram.com/"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="32" height="32">
                  <use href="/img/symbol-defs.svg#icon-Facebook"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://www.facebook.com/"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="32" height="32">
                  <use href="/img/symbol-defs.svg#icon-Instagram"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="https://x.com/" class="social-link" target="_blank">
                <svg class="social-icon" width="32" height="32">
                  <use href="/img/symbol-defs.svg#icon-X"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://www.linkedin.com/"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="32" height="32">
                  <use href="/img/symbol-defs.svg#icon-LinkedIn"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://www.youtube.com/"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="32" height="32">
                  <use href="/img/symbol-defs.svg#icon-Youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Navigation -->
      <div class="footer-right">
        <nav>
          <ul class="footer-nav">
            <li><a href="#about" class="footer__nav-menu">About us</a></li>
            <li><a href="#benefits" class="footer__nav-menu">Benefits</a></li>
            <li><a href="#gallery" class="footer__nav-menu">Gallery</a></li>
            <li>
              <a href="#testimonials" class="footer__nav-menu">Testimonials</a>
            </li>
            <li><a href="#contacts" class="footer__nav-menu">Contacts</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="footer-line"></div>

    <p class="footer-copy">© 2025 Handmade Jewelry. All rights reserved.</p>
  </div>
</footer>
