<footer class="footer">
  <div class="footer-container">

  <div class="footer-top">
  <div class="footer-left">
    <img 
      src="./Frame 266.jpg" 
      alt="Handmade jewelry" 
      class="footer-image"
    >

    <ul class="footer-social">
      <li>
        <a href="#" class="social-link">
          <svg class="social-icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <svg class="social-icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <svg class="social-icon">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <svg class="social-icon">
            <use href="./images/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="#" class="social-link">
          <svg class="social-icon">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
</div>

  <div class="footer-right">
    <ul class="footer-nav">
      <li>About us</li>
      <li>Benefits</li>
      <li>Gallery</li>
      <li>Testimonials</li>
      <li>Contacts</li>
    </ul>
</div>
 </div>

    <div class="footer-line"></div>

    <p class="footer-copy">
      © 2025 Handmade Jewelry. All rights reserved.
    </p>
 
</div>
</footer>