body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #000000;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

button,
a.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: none;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  font-family: 'Mulish', sans-serif;

  border: 1px solid #ccc16e;
  padding: 6px 12px;
  background-color: #ccc16e;
}

button:active,
a.btn:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background-color: #ccc16e;
}

button.inactive,
a.btn.inactive {
  opacity: 30%;
  pointer-events: none;
}

a {
  cursor: pointer;
<<<<<<< HEAD
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
=======
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
>>>>>>> c45abf73c67e35a9a0500af76c61862e2fc175c6
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

button:hover,
button:focus,
a.btn:hover,
a.btn:focus {
  text-decoration: none;
  background-color: #ffffff;
}

a:active {
  color: #8668c7;
  text-decoration: none;
}

a.inactive {
  opacity: 30%;
  pointer-events: none;
}
<<<<<<< HEAD
=======
img {
  display: block;
  max-width: 100%;
  height: auto;
}
>>>>>>> c45abf73c67e35a9a0500af76c61862e2fc175c6
