
.benefits-section {
  padding: 64px 0px; 
  background: #fff;
}


.container {
  width: 100%;
}


.section-title {
  font-size: 36px;
line-height: 120%;
letter-spacing: -0.01em;
text-align: center;
color: #000;
margin: 0 auto 32px;
}


.card-list {
  display: flex;
  flex-direction: column;
  gap: 32px; 
  list-style: none;
  align-items: center; 
}


.card {
  width: 335px; 
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px 12px;
  box-sizing: border-box;
  background: #f2f2f2;
}


.card-title {
  font-weight: 400;
font-size: 24px;
line-height: 140%;
  text-align: center;
  margin-bottom: 24px;
}

/* ТЕКСТ */
.card-text {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
  text-align: center;
}

.card-text-first {
font-weight: 400;
font-size: 16px;
line-height: 150%;
  color: #000;
  text-align: center;
}

.second-line {
  text-align: center; 
  font-weight: 400;
font-size: 16px;
line-height: 150%;
}



@media (min-width: 768px) {
  
  .benefits-section {
    padding: 64px 0px;
    background: #fff;
  }


  .container {
    max-width: 768px;
    margin: 0 auto;
  }

 
  .section-title {
    font-size: 36px;
    margin: 0 auto 32px; 
    text-align: center;
line-height: 120%;
letter-spacing: -0.01em;
color: #000;
  }


  .card-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

 
  .card {
    width: 704px;
    max-width: 100%;
    margin: 0 auto;

    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 32px 12px;
    box-sizing: border-box;

    background: #f2f2f2;
  }


  .card-title {
    font-weight: 400;
font-size: 24px;
line-height: 140%;
    text-align: center;
    margin-bottom: 24px;
  }

 
 .card-text {
 font-weight: 400;
font-size: 16px;
line-height: 150%;
  color: #000;
  text-align: center;
 max-width: 680px;
}

.card-text-first {
font-weight: 400;
font-size: 16px;
line-height: 150%;
  color: #000;
   text-align: center;
  max-width: 680px;
  margin: 0 auto;
}

.second-line {
  text-align: center;  
  font-weight: 400;
font-size: 16px;
line-height: 150%;
}
}


/* ===== DESKTOP ===== */
@media (min-width: 1440px) {
  .benefits-section {
    padding: 120px 0px;
    background: #fff;
  }

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}


  .card-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 1312px;
    margin: 0 auto;
  }


  .card {
 border: 1px solid rgba(0, 0, 0, 0.2);
padding: 32px 12px;
width: 416px;
height: 194px;
background: #f2f2f2;
  }

  .card-title {
    font-weight: 400;
font-size: 24px;
line-height: 140%;
    text-align: center;
     margin-bottom: 24px;
  }

  .card-text {
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #000;
width: 392px;
  }

  
.card-text-first {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
  margin: 0;
  text-align: center;
  max-width: 392px;
}

.second-line {
  text-align: center; 
  font-weight: 400;
font-size: 16px;
line-height: 150%;
}

  .section-title {
    max-width: 870px;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    margin: 0 auto 32px;
      
  }
}
