.connect {
  padding: 64px 0;
}

.connect_subject {
  font-weight: 600;
  margin-bottom: 16px;

  text-align: left;
}
.connect_heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;

  font-family: 'Mulish', sans-serif;

  width: 335px;

  margin-bottom: 24px;

  text-align: left;
}
.connect_slogan {
  font-weight: 400;
  font-size: 18px;

  /* чомусь переносить слово*/
  width: 335px;

  margin-bottom: 48px;

  text-align: left;
}

/* Shop Information */

.inform-shop {
  margin-bottom: 32px;

  text-align: left;
}

.inform-shop__item {
  margin-bottom: 24px;
}
/* прибираємо останній відступ, щоб зробити 32 */
.inform-shop__item:last-child {
  margin-bottom: 0;
}
.inform-shop__icon {
  margin-bottom: 16px;

  fill: #000000;
}
.contact_text {
  /* чомусь текст не такий товстий */
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;

  margin-bottom: 8px;
}
.inform-contact__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* Feedback Form */

.feedback-form {
}
.feedback-wrapper {
  margin-bottom: 24px;
}
.feedback-label {
  /* label inline ел. */
  margin-bottom: 8px;

  display: block;
}
.feedback-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.feedback-input {
  border: 1px solid #000000;

  padding: 8px 12px;

  width: 100%;

  outline: none;
}
/* Invalid */

.feedback-input:invalid:not(:placeholder-shown) {
  border-color: #8c0000;
  color: #8c0000;
}

.feedback-input::placeholder {
  color: #000000;
  opacity: 60%;
}
.feedback-input:focus::placeholder {
  opacity: 0;
}
.feedback-input:focus {
  border-color: #ccc16e;
}
.feedback-wrapper-comment {
  margin-bottom: 24px;
}
.comment-form {
  width: 100%;

  padding: 12px;

  /* забороняє корист. змінювати розмір коментаря */
  resize: none;
  /* прибирає контур коментаря(інпута) при фокусі */
  outline: none;

  border: 1px solid #000000;
}

.comment-form:focus {
  border-color: #ccc16e;
}
.comment-form:focus::placeholder {
  opacity: 0;
}
.comment-form::placeholder {
  color: #000000;
  opacity: 60%;
}
.feedback-button {
  width: 100%;
}
.feedback-button:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background-color: #ccc16e;
}
@media only screen and (min-width: 768px) {
  .connect_subject {
  }
  .connect_heading {
    width: 704px;
  }
  .connect_slogan {
    width: 704px;
  }
  /* Shop Information */

  .inform-shop {
    display: flex;

    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
  }
  .inform-shop__item {
    margin: 0;

    width: 218px;
  }
  .inform-shop__icon {
  }
  .contact_text {
  }
  .inform-contact__link {
  }
  /* Feedback Form */

  .feedback-form {
  }
  .feedback-wrapper {
  }
  .feedback-label {
  }
  .feedback-field {
  }
  .feedback-input {
  }
  .feedback-wrapper-comment {
  }
  .comment-form {
  }
  .feedback-button {
    width: 249px;

    margin-left: 0;
  }
  @media only screen and (min-width: 1440px) {
    .connect_subject {
    }
    .connect_heading {
      font-size: 48px;
    }
    .connect_slogan {
    }
    /* Shop Information */
    .wrapper-form-contacts {
      display: flex;
      flex-direction: row-reverse;
      gap: 32px;
    }
    .inform-shop {
      /* justify-content: end; */
      display: flex;
      flex-wrap: wrap;

      /* margin-right: 32px; */
    }
    .inform-shop__item {
      width: calc((100%-32) / 2);
      /* width: 304px; */
    }
    .inform-shop__icon {
    }
    .contact_text {
    }
    .inform-contact__link {
    }
    /* Feedback Form */
    .feedback-form {
      width: 640px;
    }
    .feedback-wrapper {
    }
    .feedback-label {
    }
    .feedback-field {
    }
    .feedback-input {
    }
    .feedback-wrapper-comment {
      width: 610px;
    }
    .comment-form {
    }
    .feedback-button {
      width: 194px;
    }
  }
}
