.header-container {
  display: flex;
  align-items: center;
}
.header__burger {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 0;
  margin-left: auto;
  margin-right: 0;
}
.burger__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: #000000;
}
.header__nav {
  display: none;
}
.header__logo-link {
  padding: 12px 0;
}
.header__button-order {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__logo-link {
    padding: 18px 0;
  }
  .header__logo-icon {
    width: 78px;
    height: 24px;
  }
  .header__burger {
    display: none;
  }
  .header__nav {
    display: flex;

    margin-left: 48.5px;

    line-height: 1.5;
    color: #000000;
  }
  .header__nav-list {
    display: flex;
    gap: 16px;
  }
  /* Кнопка (посилання) */
  .header__button-order {
    display: flex;
    justify-content: center;
    font-weight: 500;

    width: 119px;

    margin-left: auto;

    cursor: pointer;

    border: 1px solid #ccc16e;
    padding: 6px 12px;
    background-color: #ccc16e;

    text-decoration: none;
  }

  .header__button-order:active,
  .header__button-order:focus,
  .header__button-order:hover {
    text-decoration: none;
  }

  .header__button-order:focus,
  .header__button-order:hover {
    background-color: #ffffff;
  }
}
.header__button-order:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background-color: #ccc16e;
  color: #000000;
}

@media only screen and (min-width: 1440px) {
  .header__nav {
    margin-left: 32px;
  }
  .header__nav-list {
    gap: 32px;
  }
  .header__button-order {
    width: 192px;
  }
}
