/*===========Hero MB========*/

.hero-section {
background-image:
linear-gradient(
rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4)),
url("../img/hero/hero-cover-mob.webp");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 160px 0 152px;
}

.hero-section-title {
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #fff;
margin-bottom: 24px;
}

.hero-section-text {
font-size: 18px;
line-height: 1.5;
color: #fff;
margin-bottom: 32px;
}

.hero-btn {
width: 100%;
}

@media (max-width: 767px) and (min-resolution: 2dppx) {

.hero-section {
background-image:
linear-gradient(
rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4)),
url("../img/hero/hero-cover-mob-2x.webp");
}
}

/*===========Hero TB========*/

@media screen and (min-width: 768px) {

.hero-section {
background-image:
linear-gradient(
rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4)),
url("../img/hero/hero-cover-tab.webp");
min-height: 864px;
padding: 160px 0 0;
}

a.btn.hero-btn {
display: inline-block;
width: 217px;
margin-left: 0;
margin-right: 0;
}

.hero-section-title {
max-width: 513px;
}

.hero-section-text {
max-width: 513px;
}
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {

.hero-section {
background-image:
linear-gradient(
rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4)),
url(../img/hero/hero-cover-tab-2x.webp)
}
}

/*===========Hero DT========*/

@media screen and (min-width: 1440px) {

.hero-section {
background-image:
linear-gradient(
rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4)),
url("../img/hero/hero-cover-dt.webp");
background-position: center;
padding: 224px 0 0;
}

.hero-section-title {
font-size: 56px;
max-width: 640px;
}

.hero-section-text {
max-width: 640px;
}

a.btn.hero-btn {
width: 192px;
}
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
.hero-section {
background-image:
linear-gradient(
rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4)),
url("../img/hero/hero-cover-dt2x.webp");
}
}